<div class="expenses-card p-4">
    <div class="text-lg font-bold">
        Expenses
    </div>
    <div class="w-full absolute bottom-0">
        <div class="text-5xl font-bold">
            $70,235.87
        </div>
        <div class="flex justify-content-between flex-wrap pb-4 pr-6">
            <div class="flex align-items-center justify-content-center ">
                This week’s income
            </div>
            <div class="flex align-items-center justify-content-center">
                -15.74%
            </div>
        </div>
    </div>
</div>