<div class="stock-card p-4">
    <div class="text-lg font-bold">
        Stock Market
    </div>
    <div class="flex flex-wrap mt-4 grid">
        <div class="">
            <img src="../../assets/apple.svg" width="29px" height="36px">
        </div>
        <div class="">
            <div class="text-lg font-medium ml-2  mt-1">
                Apple Inc.
            </div>
            <div class="text-sm font-normal mt-1 ml-2">
                AAPL
            </div>
        </div>
    </div>
    <div class="flex flex-wrap mt-4 grid">
        <div class="">
            <img src="../../assets/logo-essa-header-min.svg" width="29px" height="36px">
        </div>
        <div class="">
            <div class="text-lg font-medium ml-2  mt-1">
                ESSA Pharma Inc.
            </div>
            <div class="text-sm font-normal mt-1 ml-2">
                EPIX
            </div>
        </div>
    </div>
</div>