<div class="flex justify-content-between flex-wrap app-header pl-2 p-2">
    <div class="flex align-items-center logo-menu">
        <div class="menu-icon flex flex-row" (click)="toggle()">
            <img src="./assets/hamburger.png " width="30px" class="mr-5">
            <img src="./assets/piggy.svg " width="42px"
                [class.show-logo]="isMenuOpen">
        </div>
        <div class="pt-3 px-4 hidden-sm">
            <p class="text-2xl font-normal font-Inter">Hi,Good Morning! <b
                    class="font-bold">Raymond Nelson</b></p>
        </div>
        <div
            class="flex align-items-center justify-content-center gap-2 search-bar hidden-sm">
            <i class="pi pi-search"></i>
            <!-- <input pInputText type="text" placeholder="Search..." /> -->
        </div>
    </div>
    <div class="flex align-items-center justify-content-center gap-3 pr-3">
        <div class="flex align-items-center bell-icon">
            <i class="pi pi-bell"></i>
        </div>
        <img src="./assets/dp.svg" alt="dp" width="48px" height="48px"
            class="m-0 pl-3">
        <p *ngIf="!profileVisible" class="user-name font-bold text-sm mt-2">Raymond Nelson</p>
        <p-splitButton label="Raymond Nelson" [model]="logoutDropdown" class="template-builder-user" styleClass="p-button-text p-button-plain p-button-sm logout-button" id="template-builder-user" *ngIf="profileVisible"></p-splitButton>
    </div>
</div>