<!-- <div class="overflow-auto" [ngClass]="{'body-container-inside':insideXnode,'body-container':!insideXnode}">
    <div class="body-content overflow-auto relative pb-4">
        <gridster [options]="gridsterOptions">
            <gridster-item [item]="item" *ngFor="let item of gridstarData"
                [ngClass]="{'h-auto surface-200': item?.type=== 'table'}"
                class="border-round-md overflow-auto ">
                <div class="expenses-card  p-3 pr-2 flex flex-wrap align-content-between h-full"
                    [ngStyle]="{ 'background-color':item?.backgroundColor,  'color':item?.textColor }"
                    *ngIf="item?.type === 'card'">
                    <div>
                        {{item?.title}}
                    </div>
                    <div class="w-full">
                        <div *ngIf="item?.value" class="flex">
                            <ng-container *ngIf="isValueArray(item?.value)">
                                <div class="flex align-items-center gap-2 mr-2 flex-wrap"
                                    *ngFor="let itemValue of item?.value">
                                    <div *ngFor="let pair of itemValue | keyvalue">
                                        <p-chip>{{pair.key}}: {{pair.value}}</p-chip>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="!isValueArray(item?.value)">
                                {{ item.value }}
                            </ng-container>
                        </div>

                    </div>
                </div>
                <div *ngIf="item?.type === 'table'" class="p-2 h-auto card">
                    <p-table [resizableColumns]="true" scrollDirection="horizontal" [scrollable]="true"
                        [value]="item?.value?.rows" #dt1 [rows]="10" [paginator]="true" dataKey="id" [scrollable]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [showCurrentPageReport]="true" [autoLayout]="true" scrollDirection="horizontal"
                        [columns]="item?.value?.columnHeaders" [responsive]="true"
                        [globalFilterFields]="item?.value?.columnHeaders" [scrollable]="true">
                        <ng-template pTemplate="header" let-columns>
                            <tr class="text-table-header">
                                <th style="min-width:200px" *ngFor="let col of item?.value?.columnHeaders"
                                    [pSortableColumn]="col">{{col}}
                                    <p-sortIcon field={{col}}></p-sortIcon>
                                    <p-columnFilter type="text" field={{col}} display="menu"></p-columnFilter>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr class="">
                                <td *ngFor="let col of item?.value?.columnHeaders">{{ rowData[col]}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class=" text-header  h-full justify-content-between flex flex-column  p-3"
                    *ngIf="item?.type === 'pie_chart' && piedata">
                    <div class=" flex justify-content-between">
                        <div>{{item?.value?.title?.text}}</div>
                    </div>
                    <div class="flex justify-content-center h-full w-full">
                        <canvas #piehartCanvas class="chart-canvas" class="h-full w-full"
                            style="height: 100%;"></canvas>
                    </div>
                </div>
                <div class=" text-header  h-full justify-content-between flex flex-column  p-3"
                    *ngIf="item?.type === 'line_plot' && linedata">
                    <div class=" flex justify-content-between">
                        <div>{{item?.value?.title?.text}}</div>
                    </div>
                    <div class="flex justify-content-center h-full w-full">
                        <canvas #linechartCanvas class="chart-canvas" class="h-full w-full"
                            style="height: 100%;"></canvas>
                    </div>
                </div>
            </gridster-item>

        </gridster>
    </div>
</div> -->
<div class="relative" [ngClass]="{'temp-body-container-inside':insideXnode,'temp-body-container':!insideXnode}">
    <div class="temp-body-content-inside relative overflow-auto"
        [ngClass]="{'temp-body-content-inside':insideXnode,'temp-body-content':!insideXnode}">
        <gridster [options]="gridsterOptions">
            <gridster-item [item]="item" *ngFor="let item of gridstarData"
                [ngClass]="{'h-auto surface-200': item?.type=== 'table'}" class="border-round-md overflow-auto ">
                <div class="expenses-card  p-3 pr-2 flex flex-wrap align-content-between h-full"
                    [ngStyle]="{ 'background-color':item?.backgroundColor,  'color':item?.textColor }"
                    *ngIf="item?.type === 'card'">
                    <div>
                        {{item?.title}}
                    </div>
                    <div class="w-full">
                        <div *ngIf="item?.value" class="flex">
                            <ng-container *ngIf="isValueArray(item?.value)">
                                <div class="flex align-items-center gap-2 mr-2 flex-wrap"
                                    *ngFor="let itemValue of item?.value">
                                    <div *ngFor="let pair of itemValue | keyvalue">
                                        <p-chip>{{pair.key}}: {{pair.value}}</p-chip>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="!isValueArray(item?.value)">
                                {{ item.value }}
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div *ngIf="item?.type === 'table'" class="p-2 h-auto card">
                    <p-table [resizableColumns]="true" scrollDirection="horizontal" [scrollable]="true"
                        [value]="item?.value?.rows" #dt1 [rows]="10" [paginator]="true" dataKey="id" [scrollable]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [showCurrentPageReport]="true" [autoLayout]="true" scrollDirection="horizontal"
                        [columns]="item?.value?.columnHeaders" [responsive]="true"
                        [globalFilterFields]="item?.value?.columnHeaders" [scrollable]="true">
                        <ng-template pTemplate="header" let-columns>
                            <tr class="text-table-header">
                                <th style="min-width:200px" *ngFor="let col of item?.value?.columnHeaders"
                                    [pSortableColumn]="col">{{col}}
                                    <p-sortIcon field={{col}}></p-sortIcon>
                                    <p-columnFilter type="text" field={{col}} display="menu"></p-columnFilter>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr class="">
                                <td *ngFor="let col of item?.value?.columnHeaders">{{ rowData[col]}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class=" text-header  h-full justify-content-between flex flex-column  p-3"
                    *ngIf="item?.type === 'pie_chart' && piedata">
                    <div class=" flex justify-content-between">
                        <div>{{item?.value?.title?.text}}</div>
                    </div>
                    <div class="flex justify-content-center h-full w-full">
                        <canvas #piehartCanvas class="chart-canvas" class="h-full w-full"
                            style="height: 100%;"></canvas>
                    </div>
                </div>
                <div class=" text-header  h-full justify-content-between flex flex-column  p-3"
                    *ngIf="item?.type === 'line_plot' && linedata">
                    <div class=" flex justify-content-between">
                        <div>{{item?.value?.title?.text}}</div>
                    </div>
                    <div class="flex justify-content-center h-full w-full">
                        <canvas #linechartCanvas class="chart-canvas" class="h-full w-full"
                            style="height: 100%;"></canvas>
                    </div>
                </div>
            </gridster-item>
        </gridster>
    </div>
</div>